<form>
  <div class="input-group mb-3">
    <span class="input-group-text">&#64;</span>
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder [(ngModel)]="username">
      <label for="username">Username</label>
      <div class="form-text">Please enter the username and press the Send button to start the greeting process.</div>
    </div>
    <button class="btn btn-outline-secondary" type="button" (click)="onFormSubmitClick()">Send</button>
  </div>
</form>